Resources:
 mypolicy:
  Type: AWS::IAM::Policy
  Properties:
    PolicyName: jenkinsgrouppolicy
    PolicyDocument:
      Version: '2012-10-17'
      Statement:
      - Effect: Allow
        Action:
        - sqs:DeleteMessage
        - sqs:GetQueueAttributes
        - sqs:ReceiveMessage
        - sqs:SendMessage
        Resource: arn:aws:sqs:us-west-2:650546642981:my-queue
    Groups:
    - jenkinsgroup